<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webapp 1</title>
    <style>
        .container {
            display: grid;
            place-content: center;
            width: 100vw;
            height: 100vh;
            background-color: ghostwhite;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>My Webapp</h1>
    </div>
</body>

</html>